<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css" nonce="">
        body,
        td,
        div,
        p,
        a,
        input {
            font-family: arial, sans-serif;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <style type="text/css" nonce="">
        body,
        td {
            font-size: 13px;
        }

        a:link,
        a:active {
            color: #1155cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        a:visited {
            color: #6611cc;
        }

        img {
            border: 0px;
        }

        pre {
            white-space: pre;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            max-width: 800px;
            overflow: auto;
        }

        .logo {
            left: -7px;
            position: relative;
        }
    </style>
</head>

<body>
    <center
        style="width: 100%; background-color: rgb(245, 246, 250); font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6fa"
            style="border-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin: 0px auto; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
            <tbody style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                <tr style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                    <td
                        style="padding: 40px 0px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px;">
                        <table
                            style="width: 100%; max-width: 620px; margin: 0px auto; border-spacing: 0px; border-collapse: collapse; table-layout: fixed; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                            <tbody
                                style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                <tr
                                    style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                    <td
                                        style="text-align: center; padding: 0px 0px 25px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px;">
                                        <a href="<%=website_url%>"
                                            style="text-decoration: none; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;"><img
                                                style="height: 40px; width: auto; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;"
                                                src="<%=website_url%><%=website_logo%>" alt="logo"></a>
                                        <p
                                            style="font-size: 14px; color: rgb(52, 137, 235); padding: 12px 0px 0px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px;">
                                            <%=website_title%>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table
                            style="width: 100%; max-width: 620px; margin: 0px auto; background-color: rgb(255, 255, 255); border-spacing: 0px; border-collapse: collapse; table-layout: fixed; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                            <tbody
                                style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                <tr
                                    style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                    <td
                                        style="padding: 30px 30px 20px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px;">
                                        <p
                                            style="margin: 0px 0px 10px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;text-transform: capitalize;">
                                            Dear investor,</p>
                                        <p
                                            style="margin: 0px 0px 10px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                                            Trust Rich Investment is here to serve you better. In our attempt to create a long lasting platform for you, we have
                                            carefully put together a couple of unbeatable features for sustainability.<br
                                                style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;"><br
                                                style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">These Features includes:
                                        </p>
                                        <br
                                            style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                        <p
                                            style="margin: 0px 0px 15px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                                            1. Diverse investment growth of different percents to suit every individual need. 
                                            <br><br>
                                            2. A one time dashboard accessing fee of ₦1,000 naira.
                                            <br><br>
                                            3. Premium server with ability to process 15,000 network requests per second
                                            <br><br>
                                            4. Email Verification
                                            <br><br>
                                            5. Account Number Verification
                                            <br><br>
                                            6. Reinvestment downtime of 12 hours
                                            <br><br>
                                            7. Payment downtime of 12 hours
                                            <br><br>
                                            8. Powerful User to User Merging Algorithm
                                            </p>
                                        <br
                                            style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                        <p
                                            style="margin: 0px 0px 15px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                                            We hope that this new features will create a sustainable platform for our esteemed investors. </p>
                                        <br
                                            style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                        <p
                                            style="margin: 0px 0px 15px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                                            Kindly visit our website below to get started:
                                            <a href="https://trustrichinvestment.com">https://trustrichinvestment.com/</a> </p>
                                        <p
                                            style="margin: 0px 0px 15px; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                                            Thank you for investing with
                                            <strong>TRUST RICH INVESTMENT</strong> </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table
                            style="width: 100%; max-width: 620px; margin: 0px auto; border-spacing: 0px; border-collapse: collapse; table-layout: fixed; font-family: Roboto, sans-serif; text-size-adjust: 100%; padding: 0px;">
                            <tbody
                                style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                <tr
                                    style="font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                    <td
                                        style="text-align: center; padding: 25px 20px 0px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px;">
                                        <p
                                            style="font-size: 13px; font-family: Roboto, sans-serif; text-size-adjust: 100%; margin: 0px; padding: 0px;">
                                            Copyright © <%=year%>
                                                <%=website_title%>. All rights reserved.
                                        </p>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>