<footer class="footer footer-1">
    

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-copyright">
                        <div class="copyright"><span>&copy; <span class="date"></span> <%=websiteDetails.website_title%> Designed By <a href="<%=websiteDetails.website_dev_link%>">
                                    <%=websiteDetails.website_dev_name%></a>. all rights reserved.
                            </span>
                            <ul class="list-unstyled social-icons">
                                <li> <a class="share-facebook" href="<%=websiteDetails.website_facebook%>"><i
                                            class="energia-facebook"></i>facebook </a></li>
                                <li> <a class="share-twitter" href="<%=websiteDetails.website_twitter%>"><i
                                            class="energia-twitter"></i>twitter</a></li>
                                <li> <a class="share-youtube" href="<%=websiteDetails.website_youtube%>"><i
                                            class="energia-youtube"></i>youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>

<div class="back-top" id="back-to-top" data-hover=""><i class="energia-arrow-up"></i></div>
</div>

<script src="/home/js/custom.js"></script>

<script src="/home/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/home/js/vendor.js"></script>
<script src="/home/js/functions.js"></script>
</body>

</html>