<%-include("../partials/header")%>


    <section class="slider slider-3" id="slider-3">
        <div class="container-fluid pe-0 ps-0">
            <div class="slider-carousel owl-carousel carousel-navs carousel-dots owl-loaded owl-drag" data-slide="1"
                data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="0" data-loop="true"
                data-speed="800">






                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-2526px, 0px, 0px); transition: all 0s ease 0s; width: 7578px;">
                        <div class="owl-item cloned" style="width: 1263px;">
                            <div class="slide bg-overlay bg-overlay-dark-slider bg-section"
                                style="background-image: url(&quot;/home/images/sliders/1.jpg&quot;);">

                                <div class="container">
                                    <div class="slide-content">
                                        <div class="row">
                                            <div class="col-12 col-lg-7">
                                                <h1 class="slide-headline">Join <%=websiteDetails.website_title%> </h1>
                                                <p style="color:#fff" class="heading-desc text white text-bold"><%=websiteDetails.website_title%> is a peer 2 peer poverty eradicator investment platform that aims to reduce poverty through giving high return on investment on invested capital, simple as that!</p>
                                                <div class="slide-action pt-2"><a class="btn btn--white"
                                                        href="/page/how-it-works"><span>Learn More</span><i
                                                            class="energia-arrow-right"></i></a></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 1263px;">
                            <div class="slide bg-overlay bg-overlay-dark-slider bg-section"
                                style="background-image: url(&quot;/home/images/sliders/2.jpg&quot;);">

                                <div class="container">
                                    <div class="slide-content">
                                        <div class="row">
                                            <div class="col-12 col-lg-7">
                                                <h1 class="slide-headline">Smile at your bank account everytime!</h1>
                                                
                                                <p style="color:#fff" class="heading-desc text white text-bold">We gurantee all our investors steady credit alert once they make a withdrawal request.</p>
                                                <div class="slide-action"><a class="btn btn--white"
                                                        href="/register"><span>Get Started</span><i
                                                            class="energia-arrow-right"></i></a></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                
                <div class="owl-thumbs"></div>
            </div>

        </div>

    </section>

    <section class="company-data" id="company-data-1">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-lg-3">
                    <div class="data">
                        <div class="data-icon"><i class="icons-energiaphone-call"></i></div>
                        <div class="data-body">
                            <h6>quick contact </h6>
                            <p>email: <a href="#"><span
                                        class="__cf_email__"><%=websiteDetails.website_email%></span></a>
                            </p>
                            <p>phone: <a href="tel:<%=websiteDetails.website_phone_number%>"><%=websiteDetails.website_phone_number%></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="data">
                        <div class="data-icon"><i class="icons-energialocation"></i></div>
                        <div class="data-body">
                            <h6>our location</h6>
                            <p><%=websiteDetails.website_address%>.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="panels-container">
                        <div class="panel-action">
                            <div class="panel-icon"><i class="flaticon-040-green-energy"></i></div>
                            <div class="panel-content">
                                <h6 class="panel-heading">Invest, Sit Back And Watch While Your Money Grows!</h6>
                                <p class="panel-desc">One thing guranted is only steady credit alert, nothing more!</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about about-3" id="about-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="heading heading-12">
                        <p class="heading-subtitle">Together we can invest in the future</p>
                        <h2 class="heading-title">Harness the power of <%=websiteDetails.website_title%> platform!</h2>
                    </div>
                    <div class="about-block">
                        <div class="block-left">
                            <p class="paragraph"><%=websiteDetails.website_title%> as a group of people with common interest (Eradication of Poverty) comes to together to have a simple aims not more than to eradicate poverty and inability to disburse money</p>
                            <p>We are a trusted and reliable investment platform with almost 5+ years of experience</p>
                            <div class="signature-block"><a class="btn btn--secondary" href="/page/about-us">read more
                                    <i class="energia-arrow-right"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="about-img">
                        <div class="about-img-holder bg-overlay bg-section"
                            style="background-image: url(&quot;/home/images/about/2.jpg&quot;);">

                        </div>

                        <div class="counter counter-4">
                            <div class="counter-num"> <span class="counting" data-counterup-nums="6">6</span>
                                <p>+</p>
                                <h6>years of experience</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>


    <!--TESTIMONY-->
    <section class="counters counters-1 bg-overlay bg-overlay-theme2 bg-section" id="counters-1"
        style="background-image: url(&quot;home/images/background/2.jpg&quot;);">
    
        <div class="container">
            <div class="heading heading-4 heading-light heading-light2">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <p class="heading-subtitle">What People Are Saying About Us</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <h2 class="heading-title"><%=websiteDetails.website_title%> has been the talk of the town since it launched</h2>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <p class="heading-desc">Our aim is to create a long lasting peer 2 peer investment platform, check below what people are saying about us.</p>
                        
                    </div>
                </div>
    
            </div>
    
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="img-hotspot">
                        <div class="img-hotspot-wrap">
                            <div class="img-hotspot-bg"> <img src="home/images/background/world-map-dark.png" alt="image">
                            </div>
                            <div class="img-hotspot-pointers">
                                <div class="img-hotspot-pointer" data-spot-x="29%" data-spot-y="72%"
                                    style="top: 72%; left: 29%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-012-mining-1"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="48%" data-spot-y="48%"
                                    style="top: 48%; left: 48%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-035-battery"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="75%" data-spot-y="17%"
                                    style="top: 17%; left: 75%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-027-energy-tower"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="34%" data-spot-y="9%"
                                    style="top: 9%; left: 34%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-032-recycle"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="59%" data-spot-y="21%"
                                    style="top: 21%; left: 59%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-030-biology"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="68%" data-spot-y="38%"
                                    style="top: 38%; left: 68%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-034-coal"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-hotspot-pointer" data-spot-x="15%" data-spot-y="29%"
                                    style="top: 29%; left: 15%;">
                                    <div class="pointer-icon"></div>
                                    <div class="info" data-info-x="" data-info-y="">
                                        <div class="border-outer">
                                            <div class="border-inner"><i class="flaticon-039-wind-mill"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 offset-lg-1">
    
                    <div class="counter counter-2">
                        <div class="counter-num"> <span class="counting" data-counterup-nums="<%=members%>>"><%=members%></span>
                            <h6>Investors</h6>
                        </div>
                        <div class="counter-desc">
                            <p>Yet those that embrace change and can take risks are thriving, building bigger, better, faster, and stronger
                                future than ever.</p>
                        </div>
                    </div>
    
    
                    <div class="counter counter-2">
                        <div class="counter-num"> <span style="color:#32c36c">₦</span> <span class="counting" data-counterup-nums="<%=withdrawalLong%>"><%=withdrawalLong.toLocaleString()%></span>
                            <h6>Payouts</h6>
                        </div>
                        <div class="counter-desc">
                            <p>Our peer 2 peer system algorithm is powerful in Merging Users together, the stats is the amount users has paid other merged users.</p>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </section>
    
    <!--TESTIMONY LIST-->
    <section class="testimonial testimonial-1 bg-theme2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="carousel owl-carousel carousel-nav carousel-dots owl-loaded owl-drag" data-slide="2"
                        data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="40"
                        data-loop="true" data-speed="800">
    
    
    
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1156px, 0px, 0px); transition: all 0.25s ease 0s; width: 4046px;">
                                
                                <%testimonies.map(ts =>{%>
                                    <div class="owl-item" style="width: 538px; margin-right: 40px;">
                                    <div class="testimonial-panel">
                                        <div class="testimonial-body">
                                            <div class="testimonial-img"> <img src="<%=ts.avatar ? ts.avatar:'/img/avatar.jpg' %>"
                                                    alt="<%=ts.fullname%>"></div>
                                            <div class="testimonial-content">
                                                <p>“<%=ts.t_message%>.”</p>
                                                <div class="testimonial-meta">
                                                    <h6 class="text-capitalize"><%=ts.fullname%></h6>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                                
                            </div>
                        </div>
                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        
                    </div>
                </div>
            </div>
    
        </div>
    
    </section>


    <section class="features features-2 bg-overlay bg-overlay-theme2 bg-section" id="features-2"
        style="background-image: url(&quot;/home/images/background/2.jpg&quot;);">

        <div class="container">
            <div class="heading heading-2 heading-light heading-light2">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <p class="heading-subtitle">Why always us!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <h2 class="heading-title">Why people choose and invest with us.</h2>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <p class="heading-desc">As a trusted platform our aims and goal never change, those who have invested with us will be able to testify to everything on the platform.</p>
                        <p class="heading-desc">Below are the core reason why people choose us.</p>
                        
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                            <div class="feature-icon"><i class="fa fa-suitcase" aria-hidden="true"></i></div>
                            <div class="feature-content">
                                <h4>Affordable Packages</h4>
                                <p>Our investment packages and plans are tailored to your investment capital opportunities.</p>
                            </div><a href="/register"><i class="energia-arrow-right"></i> <span>Get Started</span> </a>
                        </div>

                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                            <div class="feature-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                            <div class="feature-content">
                                <h4>Do More...</h4>
                                <p>Recharge airtime, buy data, pay bills (DSTv, GOTv, Startime, NEPA, tax) all from your ROI using our online payment gateway.</p>
                            </div><a href="/register"><i class="energia-arrow-right"></i> <span>Get Started</span> </a>
                        </div>

                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                            <div class="feature-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <div class="feature-content">
                                <h4>Affiliate program</h4>
                                <p>We give everyone the opportunity to earn even without their own investment. Sign Up, start referring and
                                earn referral bonus.</p>
                            </div><a href="/register"><i class="energia-arrow-right"></i> <span>Get Started</span> </a>
                        </div>

                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                            <div class="feature-icon"><i class="fa fa-recycle" aria-hidden="true"></i></div>
                            <div class="feature-content">
                                <h4>100% Recommitment Policy</h4>
                                <p>Our 100% Recommitment Policy before withdrawal provides the pathway to a sustainable platform that will last for as long as possible.</p>
                            </div><a href="/register"><i class="energia-arrow-right"></i> <span>Get Started</span> </a>
                        </div>

                    </div>
                </div>
                
            </div>

            
        </div>
        
    </section>

    
    <section class="pricing pricing-1" id="pricing-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <div class="heading heading-16 text-center">
                        <p class="heading-subtitle">Packages And Plans</p>
                        <h2 class="heading-title">Our Affordable &amp; Flexible Packages That Adapts Your Needs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <%plans.slice(0,3).map((pl,index)=>{%>
                    <div class="col-12 col-lg-4 d-flex pb-3">
                        <div class="price-table">
                            <div class="pricing-panel">
                                <div class="pricing-body">
                                    <div class="pricing-heading">
                                        <h4 class="pricing-title">
                                            <%=pl.plan_name%>
                                        </h4>
                                        <!-- <p class="pricing-desc">The perfect plan for small business.</p> -->
                                    </div>
                                    <div class="pricing-price">
                                        <p> <span class="currency">
                                                <%=websiteDetails.website_currency%>
                                                    <%=pl.plan_price.toLocaleString()%>
                                            </span><span class="time">
                                                <%=pl.plan_duration%> Days
                                            </span></p><a class="btn btn--secondary"
                                            href="/user/plans?merge?id=<%=pl.plan_id%>">invest
                                            now <i class="energia-arrow-right"></i></a>
                                    </div>
                                    <div class="pricing-list">
                                        <p></p>
                                        <ul class="advantages-list list-unstyled">
                                            <li>
                                                <%=pl.plan_roi%>% Return Of Investment
                                            </li>
                                            <li>
                                                <%=pl.plan_referral%>% Referral Bonus
                                            </li>
                                            <li>
                                                <%=pl.plan_duration%> Days Investment Duration
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <%})%>
            </div>
    
        </div>

        <div class="container">
            <div class="more-prices">
                <p><a href="/packages">find more packages!
                    </a></p>
            </div>
        </div>
    
    
    </section>
    
    
    

    


    <!--PACKAGES-->
    <section class="team team-1" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <div class="heading heading-16 text-center">
                        <p class="heading-subtitle">Invest on higher package to get featured here</p>
                        <h2 class="heading-title">Our Top Investors</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <%topInvestors.map(ti=>{%>
                    <div class=" col-12 col-md-6 col-lg-3">
                        <div class="member member-2">
                            <div class="member-img"><img style="width:100%;height: 357px;object-fit: cover;" src="<%=ti.avatar ? ti.avatar : '/img/avatar.jpg'%>"
                                    alt="<%=ti.fullname%>"></div>
            
                            <div class="member-content">
                                <div class="member-info"><a href="javascript:void(0)">
                                        <%=ti.fullname%>
                                    </a>
                                    <h6>Amount Invested: <strong>
                                            <%=websiteDetails.website_currency%><%=ti.r_plan_price.toLocaleString()%>
                                        </strong></h6>
                                </div>
            
                                <div class="member-social"></div>
            
                            </div>
            
                        </div>
            
                    </div>
                    <%})%>
            </div>
        </div>
    
    </section>

<%-include("../partials/footer")%>